


.menu-container{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.accordion {
    background-color: rgba(15, 15, 15, 0.973);
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 5px;
    font-size: 1.1em;
    font-weight: 600;
    transition: 0.4s;
}


.active, .accordion:hover {
    background-color: rgb(136, 51, 51);
}

.panel {
    padding: 5px;
    background-color: white;
    line-height: 0.1em;
    transition: max-height 0.2s ease-out;
    transition: 0.4s;
    max-height: 0;
    overflow: hidden;
    display: none;
  }



.menu-item{
    width: 100%;
    clear: both;
    padding: 10px;
    height: 100%;
}

.name{
    width: 55%;
    display: inline;
    float:left;
    font-weight: 500;
}

@media (max-width: 821px){
    .menu-container{
        width: 95%;
    }
    .name{
        font-size: 0.85em;
    }
    .price{
        font-size: 0.75em;
    }
}


.menu-viet{
    font-size: 0.9em;
    color: rgb(228, 69, 69);
    font-family: Andika New Basic, sans-serif;
    display: inline;
}
.menu-viet p {
    display: inline;
}

.price{
    float:right;
    font-weight: 500;
}

.accordion:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    font-size: 1.1em;
    color: white;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
    color: white;
}

